__COCRcacke__
__pycache__
corrected
gold
original
resources
training
*.ini
.idea
test
__COCR*
docs/_build
docs/_sources
docs/_static
docs/.doctrees
docs/*.html
docs/objects.inv
venv*
apidoc
names.*.txt
index*.csv
*.db
*.db-journal
*.zip
docs/*.png
*.jar
*.log
*.pyc

*.bak
.git-rewrite
!docker/**

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
docker/workspace/__COCRcache__
