version: '3.3'
services:
  backend:
    container_name: backend
    image: 282251075226.dkr.ecr.eu-west-1.amazonaws.com/correct-ocr-backend:latest
    working_dir: /app
    entrypoint: uwsgi --socket /tmp/correctocr.sock --http :5000 --wsgi-file uwsgi.py --callable app --processes 2 --http-timeout 300 --uid nobody --gid nogroup --master
    ports:
      - "80:5000"
    env_file: 
      - .env       
    volumes:
      - "./workspace:/app/workspace"