version: "2"
services:
  backend:
    container_name: backend
    depends_on:
      - db
    build: .
    entrypoint: wait-for-it db:3306 -t 60 -- uwsgi --socket /tmp/correctocr.sock --http :5000 --wsgi-file uwsgi.py --callable app --processes 4 --threads 2
    ports:
      - "5000:5000"
      - "80:5000"
    volumes:
      - "./docker/workspace:/workspace"
      - "./docker/workspace/__COCRcache__:/__COCRcache__"
      - "./CorrectOCR /CorrectOCR"
      - "./docker/CorrectOCR.ini:/CorrectOCR.ini"
    environment:
      - CORRECTOCR_STORAGE_TYPE=db
      - CORRECTOCR_STORAGE_DB_DRIVER=MySQL ODBC 8.0 Unicode Driver
      - CORRECTOCR_STORAGE_DB_HOST=db
      - CORRECTOCR_STORAGE_DB_USER=correctocr
      - CORRECTOCR_STORAGE_DB_PASS=123abc
      - CORRECTOCR_STORAGE_DB_NAME=correctocr
      - CORRECTOCR_WORKSPACE_ROOTPATH=/workspace/  
  db:
    container_name: db
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: 123456   
      MYSQL_USER: correctocr   
      MYSQL_PASSWORD: 123abc
      MYSQL_DATABASE: correctocr
    volumes:
      - "./docker/initdb.d:/docker-entrypoint-initdb.d"
    ports:
      - "3306:3306"