beautifulsoup4
cachetools
Flask
flask-cors
lxml
mysql-connector-python
nltk
numpy
opencv-contrib-python-headless
Pillow
plotille
progressbar2
pycountry
PyMuPDF>=1.19
regex
requests
tei-reader
tesserocr
uwsgi==2.0.20
