beautifulsoup4
cachetools
Flask
lxml
nltk
numpy
opencv-contrib-python
Pillow
progressbar2
pycountry
PyMuPDF>=1.14.10
pyodbc
regex
requests
tei-reader

# these cannot be installed on RTD (C dependencies), so they're mocked in conf.py:
# pyodbc
# tesserocr

# documentation packages:
sphinx-autodoc-typehints
sphinx_rtd_theme
sphinxcontrib.httpdomain
sphinxcontrib.plantuml
